.index-article {
    display: flex;
}

.index-emoji {
    height: 96px;
}

h1 {
    padding: 20px 0px;
    margin-left: 40px;
}

.index-container > p {
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 20px;
}

.index-articles {
    padding-top: 20px;
    padding-left: 30px;
}

.index-article {
    padding: 30px 0px;
}

.index-article > div {
    padding-left: 30px;
}