html {
    scroll-behavior: smooth;
}

main {
    padding-top: 187px;
    padding-bottom: 30px;
    background-color: rgb(52, 119, 235);
}

main > div {
    background-color: white;
    margin: 3vh 10vw;
    padding-right: 30px;
}
