html {
    scroll-behavior: smooth;
}

main {
    padding-top: 187px;
    padding-bottom: 30px;
    background-attachment: fixed !important;
    background-size: cover !important;
}

main > div {
    background-color: white;
    margin: 3vh 10vw;
    padding-right: 30px;
}
