h1 {
    padding: 20px 0px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.membres-membre {
    padding-bottom: 20px;
}

.membres-membre > h2 {
    margin-left: 50px;
    margin-bottom: 5px;
}

h2 > a {
    text-decoration: none;
    color: black;
}

article {
    margin-bottom: 5px;
}

.membres-membre > p {
    margin-left: 40px;
    font-weight: 500;
    font-size: large;
}

.commandant {
    color: #ff1e00;
}

.depute {
    color: #ff6b00;
}

.officier {
    color: #ffef00;
}

.sous-officier {
    color: #c2ff00;
}

.createurdecontenu {
    color: #ff00ea;
}

.membre {
    color: #0080ff;
}

.shadow {
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
