details {
    padding-left: 30px;
}

summary {
    font-size: x-large;
    padding-bottom: 20px;
    cursor: pointer;
}

article {
    padding-left: 20px;
    padding-bottom: 30px;
}

h2, h3 {
    padding-left: 10px;
    padding-bottom: 10px;
}

p {
    font-size: large;
}

ol {
    padding-left: inherit;
}

ol > li > p {
    cursor: pointer;
    font-weight: 500;
}

ul {
    padding-left: 24px;
}
